.env
__pycache__/
*.pyc
.pytest_cache/
.venv/
.idea/
downloads/
*.log
*.logs
*.mp4
*.m4a
*.webm
*.mkv
*.mov
ss.txt
cookies.txt
*.cookies.txt
youtube_cookies.txt
tiktok_cookies.txt
instagram_cookies.txt
